{% extends 'index.html'%}
{% load static %}
{% block content %}
    <section class="content">

          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">

              <!-- TO DO List -->
              <div class="box box-primary">
                <div class="box-header">
                  <i class="glyphicon-plus" style="font-size: 24px; font-weight: bolder; padding: 5px"></i>
                  <h3 class="box-title">
                      <a href="#" >Edit Category</a>
                      {% if messages %}
                        {% for message in messages %}
                          <br><br>
                             <span class="text-success" style="text-align: center; font-size: 16px; padding: 10px 80px">
                                 {{ message}}</span>
                        {% endfor %}
                      {% endif %}
                  </h3>

                </div><!-- /.box-header -->
                <div class="box-body">

                    <form class="form-horizontal" action="/subjects/update/{{ subject.id }}" method="post">
                     {% csrf_token %}
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Subject Name:</label>
                        <div class="col-sm-4">
                          <input type="text" value="{{ subject.subject_name }}" name="category_name" class="form-control" placeholder="Enter Subject Name">
                        </div>
                      </div>

                      <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-primary">Update</button>
                              <a href="index" class="btn btn-default">Cancel</a>
                            </div>
                          </div>
                    </form>

                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                    <a href="index">Subject List</a>
                </div>
              </div><!-- /.box -->

            </section><!-- /.Left col -->


          </div><!-- /.row (main row) -->

        </section>

{% endblock %}